In [1]:
import sqlite3

In [2]:
con = sqlite3.connect("task.db")

In [3]:
cur = con.cursor()

In [74]:
# cur.execute("DROP TABLE original")

In [4]:
cur.execute("CREATE TABLE original(id, name, url)")

In [5]:
cur.execute("CREATE TABLE norm(id, name, url, domain_of_url)")

In [70]:
res = cur.execute("SELECT name FROM sqlite_master")

In [71]:
# res.fetchone()

('original',)

In [6]:
data = [
    (1, "hello", "http://hello.com/home"),
    (2, "world", "https://world.org/"),
]
cur.executemany("INSERT INTO original VALUES(?, ?, ?)", data)
con.commit()  # Remember to commit the transaction after executing INSERT.

In [73]:
for row in cur.execute("SELECT * FROM original"):
    print(row)

(1, 'hello', 'http://hello.com/home')
(2, 'world', 'https://world.org/')
(1, 'hello', 'http://hello.com/home')
(2, 'world', 'https://world.org/')